Flask~=2.2.2
Jinja2~=3.1.2
MarkupSafe~=2.1.1
Werkzeug~=2.2.3
beautifulsoup4~=4.12.2
pydantic
itsdangerous~=2.0.1
requests~=2.31.0
six~=1.16.0

black[d]~=23.11.0
pip~=23.3.1
zlib
wheel~=0.41.2
certifi~=2023.11.17
urllib3~=1.26.18
openssl
setuptools~=68.0.0
pyparsing~=3.0.9
packaging~=23.1
matplotlib~=3.7.2
numpy~=1.23.5

tornado~=6.3.3
gettext
